---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="A little intro to me"
	pubDate={new Date('November 10, 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		This is an into to me, Jim, as I learn more about building a blog using Cloudflare Workers. I don't have a lot of experience with web development or hosting so this will be a fun journey of learning.
	</p>
</Layout>
