---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="A little intro to me"
	pubDate={new Date('November 10, 2025')}
	heroImage="/About_me_header.png"
>
	<p>
		This is an intro to me, Jim, as I learn more about building a blog using Cloudflare Workers. 
		I don't have a lot of experience with web development or hosting so this will be a fun journey of learning.
	</p>
	<p>
		When not at work I enjoy enjoying the outdoors Jeeping and hiking, working on just about any project I can get my hands on, and working
		on any little odds and end thing I can think of. I don't sit still very well so my instinctive DIY mentality is constantly feeding the next thing
		for me to get my hands on.
	</p>
</Layout>
